<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!--앞으로 이 content영역만 바꿔주면 됨(공통영역 빼고)-->
<div layout:fragment="content">
    <div>
        상품명 : <span th:text="${itemDto.itemName}"></span>
    </div>
    <div>
        상품 상세 설명 : <span th:text="${itemDto.itemDetail}"></span>
    </div>
    <div>
        상품 판매 상태 : <span th:text="${itemDto.itemSellStatus}"></span>
    </div>
    <div>
        상품 가격 : <span th:text="${itemDto.price}"></span>
    </div>
</div>
</html>